@import "../../utils/reset";

.sort {

  button {
    width: 80px;
    height: 40px;
    padding: 5px 10px;
    border-radius: 12px;
    transition: 0.5s;

    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;

    &:hover {
      transform: scale(0.9);
      transition: 0.5s;
    }
  }
}