@import "src/utils/reset";
@import "src/utils/mixins";

.main_page {
  display: flex;

  @include onLaptop {
    flex-flow: row wrap;
    justify-content: center;
  }

  @include onMobileLarge {
    justify-content: flex-start;
  }

  //@include onMobileSmall {
  //  justify-content: flex-start;
  //}
}