@import "src/components/reset";

.modal_container {
  width: 100vw;
  height: 100vh;
  background: white;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;

  .modal {
    width: 600px;
    padding: 20px 0;
    border: 1px solid rgba(128, 128, 128, 0.5);

    .title_container {
      position: relative;

      img {
        width: 24px;
        position: absolute;
        right: 30px;
        top: 3px;
        cursor: pointer;
      }
    }

    h2 {
      border-bottom: 1px solid rgba(128, 128, 128, 0.5);
      padding: 5px 0 20px 30px;
      font-size: 20px;
      font-weight: 700;
      text-align: left;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 70px;

      .inputs_container {
        margin: 70px 30px 10px;
        display: flex;
        flex-direction: column;
        gap: 15px;

        .error {
          text-align: left;
          color: red;
        }
      }

      .select_wrapper {
        position: relative;

        &:before {
          content: '';
          position: absolute;
          top: 50%;
          right: 15px;
          transform: translateY(-50%);
          display: block;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 8.7px 5px 0 5px;
          border-color: #7d7d7d transparent transparent transparent;
          pointer-events: none;
          z-index: 1;
        }
      }

      .select {
        width: 100%;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: 1px solid rgba(128, 128, 128, 0.5);
        padding: 10px;
        outline: none;
        cursor: pointer;
        position: relative;
        color: gray;

        &:focus {
          outline: none;
          box-shadow: 0 0 0 2px rgba(128, 128, 128, 0.1);
        }
      }

      label {
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-align: left;

        .required {
          color: red;
        }

        input[type='date'] {
          width: 100%;
          border: 1px solid rgba(128, 128, 128, 0.5);
          padding: 10px;
          color: gray;
          background-size: 24px;
          background: transparent url("./images/calendar-icon.png") no-repeat 99%;
          outline: none;

          &::-webkit-calendar-picker-indicator {
            opacity: 0;
          }
        }
      }
    }

    .buttons {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 10px;
      padding: 20px 30px 0;
      border-top: 1px solid rgba(128, 128, 128, 0.5);

      .cancel, .save {
        padding: 5px 10px;
        border-radius: 3px;
        transition: 0.8s;

        &:hover {
          transform: scale(0.9);
          transition: 0.8s;
        }
      }

      .cancel {
        border: 1px solid rgba(128, 128, 128, 0.5);
        background: transparent;
      }

      .save {
        background: #2e8cff;
        color: white;
        transition: 0.8s;

        &:disabled {
          background: rgba(46, 140, 255, 0.5);
          transition: 0.8s;
        }
      }
    }
  }
}