@import "src/components/reset";

.weather_container {
  width: 80vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 25px;

  &.close {
    padding: 40px;
  }

  &.open {
    padding: 0;
  }

  .cards {
    display: flex;
    gap: 40px;
  }
}