@import "../../utils/reset";
@import "src/utils/mixins";

.weather_container {
  width: 80vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 25px;

  @include onLaptop {
    align-items: center;
    height: auto;
  }

  @include onMobileLarge {
    width: 100vw;
    align-items: flex-start;
  }

  &.close {
    padding: 40px;

    @include onLaptop {
      padding: 20px;
      justify-content: center;
    }
  }

  &.open {
    padding: 0;
  }

  .cards {
    display: flex;
    gap: 40px;

    @include onLaptop {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}