@import '../../utils/reset';
@import "../../utils/mixins";

.header {
  text-align: left;
  font-size: 14px;
  color: #282c34;

  @include onLaptop {
    width: 92%;
  }

  span {
    font-weight: 700;
  }
}