@import "src/components/reset";

.week_forecast {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 25px;

  h2 {
    text-align: left;
    color: #282c34;
  }

  .days_container {
    display: flex;
    gap: 50px;
  }

  .prev, .next {
    position: absolute;
    top: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    cursor: pointer;

    &.none {
      display: none;
    }

    img {
      width: 30px;
    }
  }

  .prev {
    left: -30px;
    top: 90px;
    img {
      transform: rotate(180deg);
    }
  }

  .next {
    top: 90px;
    right: 50px;
  }
}